.box-register {
  color: #FFF;
  font-size: 15px;
  float: right;
}
.box-register a {
  color: #FFF;
}
.col-md-12 .set_header {
  width: auto;
}
.bb-slider-2 .slider-caption {
  padding: 0px 0 0 10px;
}
.btn-default {
  background-color: #FFFFFF;
  border: 0 none #CCCCCC;
  border-radius: 6px;
  color: #333333;
  margin: 0;
  padding: 8px;
}
.cursor_pointer {
  cursor: pointer;
}
#over_set input {
  width: 30em;
}
#over_set span {
  position: relative;
  width: 8em;
  display: inline-block;
}
.box-page-shop {
  margin-bottom: 2em;
}
.box-address {
  float: left;
}
.page-account-register label {
  font-weight: normal;
}
.page-account-register .control-group .control-label {
  display: block;
  position: absolute;
  width: 5em;
}
.page-account-register .control-group .controls {
  left: 10em;
  position: relative;
  width: 25em;
}
.alert.alert-error {
  background-color: #F7AAAA;
}
.display_none {
  display: none;
}
.textarea .bluebox-contact textarea:focus {
  width: auto;
}
