
.span12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
  width: 620px;
}

.span7 {
  width: 540px;
}

.span6 {
  width: 460px;
}

.span5 {
  width: 380px;
}

.span4 {
  width: 300px;
}

.span3 {
  width: 220px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}

.content-wrap select
{
	padding: 3px;
}

.box-register
{
	a
	{
		color:#FFF;
	}
	color:#FFF;
	font-size: 15px;
	float: right;
}

.col-md-12 .set_header
{
	width:auto;
}

.bb-slider-2 .slider-caption
{
	padding: 0px 0 0 10px;
}

.btn-default {
    background-color: #FFFFFF;
    border: 0 none #CCCCCC;
    border-radius: 6px;
    color: #333333;
    margin: 0;
    padding: 8px;
}

.cursor_pointer
{
	cursor: pointer;
}

#over_set
{
	input 
	{
		width: 30em;
	}
	span 
	{
		position: relative; 
		width: 8em;
		display: inline-block;
	}
}


.box-page-shop
{
	margin-bottom: 2em;
}

.box-address
{
	float: left;
}

.page-account-register
{
	label
	{
		font-weight: normal;
	}

	.control-group
	{
		.control-label
		{
			display: block;
		    position: absolute;
		    width: 5em;
		}
		.controls
		{
			left: 10em;
		    position: relative;
		    width: 25em;

		}
	}
}

.alert.alert-error
{
	background-color: #F7AAAA;
}

.display_none
{
	display:none;
}



.overset_image
{
	display: table-caption;
    float: left;
    padding-left: 1em;
}


